Repository korablique/openfoodfacts-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, nutrition facts, documentation, datasets, spellcheck, ocr cleaning, object detection, logo-ann, student projects

feat: add first exploration to detect vandalism (#353)
  genai-features/dataset/recent_changes.txt
  genai-features/notebooks/explore_recent_changes.ipynb
Labels: none

feat: add CLI command to pre-annotate object detection tasks with Yolo-world (#350)
  ml_utils/ml_utils_cli/cli/annotate.py
  ml_utils/ml_utils_cli/cli/apps/datasets.py
  ml_utils/ml_utils_cli/cli/export.py
  ml_utils/ml_utils_cli/config_files/product-detection.xml
  object_detection/crop_detection/Makefile
  object_detection/crop_detection/README.md
  object_detection/crop_detection/assets/cropped.jpg
  object_detection/crop_detection/assets/product.jpg
  object_detection/crop_detection/best_images/.gitkeep
  object_detection/crop_detection/cli/__main__.py
  object_detection/crop_detection/cli/inference_yolo_tflite.py
  object_detection/crop_detection/commands/load_images_from_aws.sh
  object_detection/crop_detection/data/.gitkeep
  object_detection/crop_detection/images/.gitkeep
  object_detection/crop_detection/models/.gitkeep
  object_detection/crop_detection/requirements.txt
Labels: object detection

feat: improve pre-annotation with Yolo-World (#354)
  ml_utils/ml_utils_cli/cli/annotate.py
  ml_utils/ml_utils_cli/cli/apps/datasets.py
  ml_utils/ml_utils_cli/cli/apps/projects.py
  ml_utils/ml_utils_cli/cli/sample.py
  ml_utils/ml_utils_cli/main.py
  ml_utils/ml_utils_cli/requirements.txt
Labels: none

feat: improve ML CLI and add a README.md (#355)
  ml_utils/ml_utils_cli/README.md
  ml_utils/ml_utils_cli/cli/apps/datasets.py
  ml_utils/ml_utils_cli/cli/apps/projects.py
  ml_utils/ml_utils_cli/cli/export.py
Labels: none

Feat improve read me (#356)
  ml_utils/ml_utils_cli/README.md
Labels: none

add missing package
  ml_utils/ml_utils_cli/requirements.txt
Labels: none

### What - ci: update to googleapis/release-please-action per https://github.com/openfoodfacts/.github/issues/39
  .github/workflows/release-please.yml
Labels: github_actions

analyze language identification models performance on short ingredient texts with precision-recall evaluation (#349)
  language_identification/poetry.lock
  language_identification/pyproject.toml
  language_identification/scripts/01_extract_data.py
  language_identification/scripts/02_select_short_texts_with_known_ingredients.py
  language_identification/scripts/03_calculate_metrics.py
  language_identification/scripts/10_words_metrics.csv
  language_identification/scripts/README.md
  language_identification/scripts/fasttext_confusion_matrix.csv
  language_identification/scripts/lingua_confusion_matrix.csv
  language_identification/scripts/manually_checked_data.csv
Labels: none

split script 03_calculate_metrics into inference and metrics
  language_identification/scripts/03_calculate_metrics.py
  language_identification/scripts/inference.py
Labels: none

.github/labeler.yml:

github_actions:
- .github/**/*

nutrition facts:
- /nutrition-table-extraction/**/*
- /GSoC2018/**/*

documentation:
- data-sets.md
- README.md

datasets:
- data-sets.md

spellcheck:
- spellcheck/**/*

ocr cleaning:
- ocr_cleaning/**/*

object detection:
- object_detection/**/*

logo-ann:
- logo-ann/**/*
- data4good_logo_detection/**/*

student projects:
- ai-emlyon/**/*
